<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.kiai.edu-make</string>
  <key>ProgramArguments</key><array><string>/Users/sakamototatsurou/English_video_app/run_edu_daily.sh</string><string>make</string></array>
  <key>StartCalendarInterval</key><dict><key>Hour</key><integer>9</integer><key>Minute</key><integer>0</integer></dict>
  <key>StandardOutPath</key><string>/Users/sakamototatsurou/English_video_app/logs/edu-make.log</string>
  <key>StandardErrorPath</key><string>/Users/sakamototatsurou/English_video_app/logs/edu-make.log</string>
</dict></plist>
